# 1.6 Modeling with equations.

## Guidelines for modeling with equations

1. Identify the variable
2. Express all unknown quantities in terms of variable
3. Set up a model
4. Solve the equation and check your answer.

## Excercises 1.6 - Modeling

In [2]:
from sympy import *
from IPython.display import Math

## Ques 1-12  Express the given quantity in terms of the indicated variable.

1. The sum of three consecutive integers; n: first integer of the three
2. The sum of three consecutive integers; n: middle integer of the three
3.  The average of three test scores if the first two scores are 78 and 82; s = third test score
4. The average of four quiz scores if each of the first three scores is 8; q = fourth quiz score
5. The interest obtained after one year on an investment at 2*1/2% simple interest per year; x = number of dollars   
        invested
6. The total rent paid for an apartment if the rent is $795 a month; n = number of months
7. The area (in ft^2) of a rectangle that is three times as long as it is wide; w = width of the rectangle (in ft)
8. The perimeter (in cm) of a rectangle that is 5 cm longer than it is wide; w = width of the rectangle (in cm)
9. The distance (in mi) that a car travels in 45 min; s = speed of the car (in mi/h)
10. The time (in hours) it takes to travel a given distance at 55 mi/h; d = given distance (in mi)
11. The concentration (in oz/gal) of salt in a mixture of 3 gal of brine containing 25 oz of salt, to which some pure water has
        been added; x = volume of pure water added (in gal)
12. The value (in cents) of the change in a purse that contains twice as many nickels as pennies, four more dimes than
        nickels, and as many quarters as dimes and nickels combined; p = number of pennies

In [3]:
n,s,q,x,w,d,p = symbols('n,s,q,x,w,d,p')

"""Answer 1:"""
# Step: 1 Identify the variable
n 
# Step: 2 Unknown quantity Sum in terms of n
sum_n_first = n + (n + 1) + (n + 2)
sum_n_first

"""Answer 2:"""
# Step 1
n 
# Step 2 - Unknown quantity Sum in terms of n
sum_n_middle = (n - 1) + n + (n + 1)
sum_n_middle

"""Answer 3:"""
# Step 1
s
# Step 2
# Average in terms of s
avg_test_scores = (78 + 82 + s) / 3
avg_test_scores

"""Answer 4:"""
quiz_avg = (8 + 8 + 8 + q)/ 4
quiz_avg

"""Answer 5:"""
# Unknown quantity is Interest at x investment for 2*1/2 rate per year
int_per_yr = float((Rational(5,2)/100))*x
int_per_yr

"""Answer 6:"""
# Total rent in n months if rent is 795
total_rent = 795*n
total_rent


"""Answer 7:"""
# Area of rectangle that is 3 times as long as it is wide.
rect_area = w*(3*w)
rect_area


"""Answer 8:"""
# Permiter of a rectangle that is 5 cm longer than it is wide
perimeter_rect = 2*((w + 5) + w)
perimeter_rect


"""Answer 9:"""
# distance a car travels in 45 min; s =  speed of car (mi/h)
distance_travels = s * Rational(45, 60)
distance_travels

"""Answer 10:"""
# time (hrs) distance (d) in 55 mi/h
time_taken = d / 55
time_taken


"""Answer 11:"""
# the concentration of salt (oz/gal) in mixture of 3 gal brine containing 25 oz of salt, to which some pure water has added in x
concentration_salt = 25/(x + 3)
concentration_salt


"""Answer 12:"""
# The value of change in cents in a purse. p = number of pennies
#  twice as many nickels as pennies
nickles = 2*p
# 4 more dimes than nickles
dimes = 4 + nickles
# as many quarters as dimes and nickles combined
quarters = nickles + dimes
quarters
# To find value in cents use 1 pennies + 5 nickles + 10 dimes + 25 quarters
value_cents = 1*p + 5*(nickles) + 10*(dimes) + 25*(quarters)
value_cents

131*p + 140

## Applications

13. **Number Problem**  Find three consecutive integers whose sum is 156.

In [4]:
# 1. Let 1st integer be n; Consecutive integers example 1,2,3
first_int = n 

# 2. All unknown quantities in terms of n
second_int = (n + 1)
third_int = (n + 2)

# 3. Set up the model
sum_of_ints = Eq(first_int + second_int + third_int, 156)

# 4. Solve and check
solve(sum_of_ints, n)
sum_of_ints.subs({n: 51})

True

14. **Number Problem** Find four consecutive odd integers whose sum is 416.

In [5]:
"""Consecutive odd integers example: 1,3,5,7"""
# Let n be first odd integer;
# 2. Unknown quantities in terms of n
f_odd_int = n 
s_odd_int = n + 2*1
t_odd_int = n + 2*2
fourth_odd_int = n + 2*3

# Set up the model
sum_odd = Eq(f_odd_int + s_odd_int + t_odd_int + fourth_odd_int, 416)

# Solve and verify
solve(sum_odd, n)
sum_odd.subs({n: 101})

True

15.  **Number Problem** Find two numbers whose sum is 55 and whose product is 684.

In [6]:
#  Let the first number be x
x 

# Unknown quantities in terms of x 
second_num = 684/x  # product of two nums is 684.

# Set up the model
sum_of_two_nums = Eq(x + (684/x), 55)


# Solve and verify
solve(sum_of_two_nums, x)

# First number can either be 19 or 36
second_num.subs({x: 19}) # 36
second_num.subs({x: 36}) # 19

# Hence two numbers are 19 and 36

19

16. **Number Problem** The sum of the squares of two consecutive even integers is 1252. Find the integers.

In [7]:
"""Two consecutive even intergers. example: 2,4"""
# Let the first int be n

# Unknown quantities in terms of n
f_even_int = n 
s_even_int = (n + 2)
sum_of_sqrs = f_even_int**2 + s_even_int**2

# Set up the model
sum_sqrs_eq = Eq(sum_of_sqrs, 1252)

# Solve and verify
solve(sum_sqrs_eq.evalf(), n)
sum_sqrs_eq.subs({n: 24})

True

17. **Investments** Phyllis invested $12,000, a portion earning
        a simple interest rate of 4*1/2% per year and the rest earning a
        rate of 4% per year. After one year the total interest earned on 
        these investments was $525. How much money did she
        invest at each rate?

In [8]:
# Identify the variable
x # Money invested at 4*1/2% per year

# Express all unknown quantities in terms of x
int_on_first_portion = (Rational(9,2))/100 * x 
int_on_second_portion = 4/100 * (12000 - x)

# Set up the model
total_interest = Eq(int_on_first_portion + int_on_second_portion, 525)

# Solve and Verify
solve(total_interest, x) # At 4*1/2 she invested $9000
12000 - 9000 # At 4% she invested $3000

3000

18. **Investments** If Ben invests $4000 at 4% interest per year,
        how much additional money must he invest at 5*1/2% annual
        interest to ensure that the interest he receives each year is
        4*1/2% of the total amount invested?

In [16]:
# Let x be the additional amount invested at 5*1/2%
x

# Express all unknown quantities in terms of x
int_at_x = Rational(11,200)*x
int_at_4000 = (4/100) * 4000
total_int = (4000 + x)*Rational(9,200)

# Set up the model
invested_eq = Eq(int_at_x + int_at_4000, total_int)
solve(invested_eq, x)

[2000.00000000000]

19. **Investments** What annual rate of interest would you
    have to earn on an investment of $3500 to ensure receiving
    $262.50 interest after one year?

In [31]:
# Let x be the annual rate of interest
x 

# Express all in form of variables
investment_on_x = 3500 * x

# Set up the model
interest_earned = Eq(262, investment_on_x)
float(solve(interest_earned, x)[0]) * 100
# 7.48% or 7.5%

7.485714285714286

20. **Investments** Jack invests $1000 at a certain annual interest rate, and he invests another $2000 at an annual rate that
        is one-half percent higher. If he receives a total of $190
        interest in one year, at what rate is the $1000 invested?

In [ ]:
# Let x be rate at which 1000 is invested
x 

# express all unknown quantities
interest_of_1000 = 1000 * x
interest_of_2000 = 2000 * (x + 0.005)

# Set up the model
total_interest_yr = Eq(interest_of_1000 + interest_of_2000, 190)

#Solve the model
solve(total_interest_yr, x)[0] * 100

# Hence 6% rate of interest at 1000

6.00000000000000

21. **Salaries** An executive in an engineering firm earns a
        monthly salary plus a Christmas bonus of $8500. If she
        earns a total of $97,300 per year, what is her monthly salary?

[1175/3]